{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <label for="username">Adresse email <strong>de la section en @ldh-france.org</strong></label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" />
    </div>

    <div class="form-check" style="padding-left: 0">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input" />
        <label for="remember_me" class="form-check-label">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary mt-4" />
</form>

<div class="mt-4 alert alert-warning"><i class="fa fa-exclamation-triangle"></i> <a href="{{ path('fos_user_resetting_request') }}"><strong>Mot de passe oublié ou première connexion ? Cliquer ici.</strong></a></div>