{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Identifiant de la section : {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
    <p>Section : {{ user.nom }}</p>
</div>
