{% trans_default_domain 'FOSUserBundle' %}

<h4>Mot de passe oublié</h4>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">Adresse email <strong>de la section en @ldh-france.org</strong></label>
        <input type="text" id="username" name="username" required="required" class="form-control" />
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary mt-4" />
    </div>
</form>
