{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sections list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Comptecomptable</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td><a href="{{ path('admin_manage_section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                <td>{{ section.nom }}</td>
                <td>{{ section.compteComptable }}</td>
                <td>{% if section.enabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_manage_section_show', { 'id': section.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_manage_section_edit', { 'id': section.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_manage_section_new') }}">Create a new section</a>
        </li>
    </ul>
{% endblock %}
