{% extends 'base.html.twig' %}

{% block body %}
    <h1>Section</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ section.nom }}</td>
            </tr>
            <tr>
                <th>Comptecomptable</th>
                <td>{{ section.compteComptable }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if section.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_manage_section_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_manage_section_edit', { 'id': section.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
