{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bienvenue sur le site de la gestion des bordereaux sur Internet</h4>
                {% if app.user %}
                    <h5>Bon retour parmi nous {{ app.user.nom }}</h5>
                {% else %}
                    <h5>Non connecté</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
