
<form action="{{ path('admin.export.bordereaux')}}" method="post" id="bdx">
    <table class="tablesaw table-striped table-bordered table-hover table tablesaw-swipe tablesaw-sortable">
        <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkall" name="chkall"  onclick="cocher(this.checked)">
                    <label class="form-check-label" for="chkall"></label>
                </div>
            </th>
            <th>N° Bordereau</th>
            <th>Date</th>
            <th>Section</th>
            <th>Année de<br> cotisation</th>
            <th>Adhérents</th>
            <th>Total part siège</th>
            <th>Export Prodon</th>
            <th>Export Compta</th>
            <th>Paiement<br> par PLVT</th>
            <th>Export PLVT</th>
        </tr>
        </thead>
        <tbody>
        {% for bordereau in bordereaux %}
            <tr>
                <td><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ bordereau.id }}" id="bd{{ loop.index0 }}" name="bd[]">
                        <label class="form-check-label" for="bd{{ loop.index0 }}"></label>
                    </div>
                </td>
                <td><a href="{{ path('voirBordereau', {'index': bordereau.id}) }}" role="button" data-toggle="tooltip" data-original-title="Voir">B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}</a></td>
                <td>{{ bordereau.dateSaisie|date("d/m/Y") }}</td>
                <td>{{ bordereau.section.nom }}</td>
                <td>{{ bordereau.anneeCotis }}</td>
                <td>{{ bordereau.transactions|length }}</td>
                <td class="text-right">{{ bordereau|partSiege|number_format(2, ',', ' ') }} €</td>
                <td>{{ bordereau.dateExportProdon ? bordereau.dateExportProdon|date("d/m/Y à H:i") : '' }}</td>
                <td>{{ bordereau.dateExportCompta ? bordereau.dateExportCompta|date("d/m/Y à H:i") : '' }}</td>
                <td>
                    {% if (bordereau.section.isPlvt and bordereau.paiementPlvt) == true %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ bordereau.id }}" id="plvt{{ loop.index0 }}" name="plvt[]">
                            <label class="form-check-label" for="plvt{{ loop.index0 }}"></label>
                        </div>
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{{ bordereau.dateExportPlvt ? bordereau.dateExportPlvt|date("d/m/Y à H:i") : '' }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
    <div class="form-group">
        {% if (type == 'tous') or (type == 'nonexportesprodon') %}
            <input type="submit" name="expProdon" value="Exporter les bordereaux cochés pour Prodon" class="btn btn-primary">
        {% endif %}
        {% if (type == 'tous') or (type == 'nonexportescompta') %}
            <input type="submit" name="expCompta" value="Exporter les bordereaux cochés pour Ciel" class="btn btn-danger">
        {% endif %}
        {% if (type == 'tous') or (type == 'nonexportesplvt') %}
            <input type="submit" name="expPlvt" value="Exporter les bordereaux cochés (avant dernière colonne) pour Prélèvements dans Prodon" class="btn btn-success">
        {% endif %}
    </div>
</form>