{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des bordereaux{% endblock %}
{% block titrePage %}Liste des bordereaux{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('tresorier.homepage') }}">Bordereaux</a></li>
    <li class="breadcrumb-item active">Liste des bordereaux</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if type == 'tous' %}
                        <h2 class="card-title">Liste de tous les bordereaux</h2>
                    {% endif %}
                    {% if type == 'nonexportes' %}
                        <h2>Liste des bordereaux non exportés</h2>
                    {% endif %}
                    {% if type == 'nonexportescompta' %}
                        <h2>Liste des bordereaux non exportés pour Ciel</h2>
                    {% endif %}
                    {% if type == 'nonexportesprodon' %}
                        <h2>Liste des bordereaux non exportés pour Prodon</h2>
                    {% endif %}
                    {% if type == 'nonexportesplvt' %}
                        <h2>Liste des bordereaux non exportés pour Prélèvements dans Prodon</h2>
                    {% endif %}
                    {% if type == 'exportes' %}
                        <h2>Liste des bordereaux déjà exportés</h2>
                    {% endif %}



                    {% include 'admin/_bordereauxTableau.html.twig'%}
                </div>
            </div>
        </div>
    </div>
    {% include 'pagination.html.twig' %}
{% endblock %}

{% block javascripts %}
<script>
function cocher(etat) {
    var inputs = document.getElementById('bdx').getElementsByTagName('input');
    for(i = 0; i < inputs.length; i++) {
        if(inputs[i].type == 'checkbox') {
            inputs[i].checked = etat;
        }
    }
}
</script>
{% endblock %}