{% xlsdocument  %}
    {% xlssheet 'Worksheet' %}
        {% xlsrow %}
            {% xlscell %}NoClient{% endxlscell %}
            {% xlscell %}CliNomCompagnie{% endxlscell %}
            {% xlscell %}TrxCodeOccasion{% endxlscell %}
            {% xlscell %}TrxCodeActivite{% endxlscell %}
            {% xlscell %}TrxDateDon{% endxlscell %}
            {% xlscell %}TrxMontantDon{% endxlscell %}
            {% xlscell %}TrxModePaiement{% endxlscell %}
            {% xlscell %}TrxNoCompte{% endxlscell %}
            {% xlscell %}TrxNomInstitution{% endxlscell %}
            {% xlscell %}TrxRum{% endxlscell %}
            {% xlscell %}TrxBordereau{% endxlscell %}
            {% xlscell %}TrxNote{% endxlscell %}
        {% endxlsrow %}
        {% for bordereau in bordereaux %}
            {% xlsrow %}
                {% xlscell %}{{ bordereau.section.id }}{% endxlscell %}
                {% xlscell %}{{ bordereau.section.nom }}{% endxlscell %}
                {% xlscell %}PARTSIEGE{% endxlscell %}
                {% xlscell %}PARTSIEGE{% endxlscell %}
                {% xlscell %}{{ "now"|date_modify("+3 days")|date("d/m/Y") }}{% endxlscell %}
                {% xlscell %}{{ bordereau |partSiege }}{% endxlscell %}
                {% xlscell %}PLVTSECTION{% endxlscell %}
                {% xlscell %}{{ bordereau.section.iban }}{% endxlscell %}
                {% xlscell %}{{ bordereau.section.bic }}{% endxlscell %}
                {% xlscell %}
                    {% if not bordereau.section.rum %}
                        {{ bordereau.section.compteComptable }}R01
                    {% else %}
                        {{ bordereau.section.rum }}
                    {% endif %}
                {% endxlscell %}
                {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                {% xlscell %}BORDEREAU B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }} PART SIEGE{% endxlscell %}
            {% endxlsrow %}
        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}