{% xlsdocument  %}
    {% xlssheet 'Worksheet' %}
        {% xlsrow %}
            {% xlscell %}NoClient{% endxlscell %}
            {% xlscell %}CliAppellation{% endxlscell %}
            {% xlscell %}CliNom{% endxlscell %}
            {% xlscell %}CliPrenom{% endxlscell %}
            {% xlscell %}Profession{% endxlscell %}
            {% xlscell %}CliAdresse{% endxlscell %}
            {% xlscell %}CliCodePostal{% endxlscell %}
            {% xlscell %}CliVille{% endxlscell %}
            {% xlscell %}CliTelephoneResidence{% endxlscell %}
            {% xlscell %}CliCourriel{% endxlscell %}
            {% xlscell %}CliDateNaissance{% endxlscell %}
            {% xlscell %}TrxDateDon{% endxlscell %}
            {% xlscell %}TrxCodeOccasion{% endxlscell %}
            {% xlscell %}TrxCodeActivite{% endxlscell %}
            {% xlscell %}TrxMontantDon{% endxlscell %}
            {% xlscell %}TrxQuantite{% endxlscell %}
            {% xlscell %}TrxModePaiement{% endxlscell %}
            {% xlscell %}TrxBordereau{% endxlscell %}
            {% xlscell %}TrxReçuAnnuel{% endxlscell %}
            {% xlscell %}TrxReçuStatut{% endxlscell %}
            {% xlscell %}TrxClientLie1NoClient{% endxlscell %}
            {% xlscell %}TrxNote{% endxlscell %}
            {% xlscell %}TrxReferencePaiement{% endxlscell %}
        {% endxlsrow %}
        {% for bordereau in bordereaux %}
            {% for trx in bordereau.transactions %}
                {% if trx.cotisation is not empty %}
                    {% xlsrow %}
                        {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.nom |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.adresse | replace({"\n":'##', "\r":''}) |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementDate|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}ADH{{ bordereau.anneeCotis }}{% endxlscell %}
                        {% xlscell %}VIA SECTION{% endxlscell %}
                        {% xlscell %}{{ trx.cotisation }}{% endxlscell %}
                        {% xlscell %}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementType }}{% endxlscell %}
                        {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                        {% xlscell %}{% if trx.cotisation > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{% if trx.cotisation > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{{ bordereau.section.id }}{% endxlscell %}
                        {% xlscell %}{{ trx.note | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementRef | raw }}{% endxlscell %}
                    {% endxlsrow %}
                {% endif %}
                {% if trx.donSiege > 0 %}
                    {% xlsrow %}
                        {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.nom |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.adresse | replace({"\n":'##', "\r":''}) |raw}}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementDate|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}DON SECTION{% endxlscell %}
                        {% xlscell %}DON SIEGE{% endxlscell %}
                        {% xlscell %}{{ trx.donSiege }}{% endxlscell %}
                        {% xlscell %}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementType }}{% endxlscell %}
                        {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                        {% xlscell %}{% if trx.donSiege > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{% if trx.donSiege > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{{ bordereau.section.id }}{% endxlscell %}
                        {% xlscell %}{{ trx.note | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementRef | raw }}{% endxlscell %}
                    {% endxlsrow %}
                {% endif %}
                {% if trx.donSection > 0 %}
                    {% xlsrow %}
                        {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.nom  |raw}}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.adresse | replace({"\n":'##', "\r":''}) |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementDate|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}DON SECTION{% endxlscell %}
                        {% xlscell %}DON SECTION{% endxlscell %}
                        {% xlscell %}{{ trx.donSection }}{% endxlscell %}
                        {% xlscell %}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementType }}{% endxlscell %}
                        {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                        {% xlscell %}{% if trx.donSection > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{% if trx.donSection > 0 %}O{% else %}N{% endif %}{% endxlscell %}
                        {% xlscell %}{{ bordereau.section.id }}{% endxlscell %}
                        {% xlscell %}{{ trx.note | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementRef | raw }}{% endxlscell %}
                    {% endxlsrow %}
                {% endif %}
                {% if trx.hl > 0 %}
                    {% xlsrow %}
                        {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.nom |raw}}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.adresse | replace({"\n":'##', "\r":''}) |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementDate|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}ABO{{ bordereau.anneeCotis }}{% endxlscell %}
                        {% xlscell %}HL ADHERENTS{% endxlscell %}
                        {% xlscell %}{{ trx.hl }}{% endxlscell %}
                        {% xlscell %}1{% endxlscell %}
                        {% xlscell %}{{ trx.paiementType }}{% endxlscell %}
                        {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                        {% xlscell %}N{% endxlscell %}
                        {% xlscell %}N{% endxlscell %}
                        {% xlscell %}{% endxlscell %}
                        {% xlscell %}{{ trx.note | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementRef | raw }}{% endxlscell %}
                    {% endxlsrow %}
                {% endif %}
                {% if trx.ldhInfo > 0 %}
                    {% xlsrow %}
                        {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.nom |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.adresse | replace({"\n":'##', "\r":''}) |raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                        {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementDate|date("d/m/Y") }}{% endxlscell %}
                        {% xlscell %}ABO{{ bordereau.anneeCotis }}{% endxlscell %}
                        {% xlscell %}LDHINFO ADHERENT{% endxlscell %}
                        {% xlscell %}{{ trx.ldhInfo }}{% endxlscell %}
                        {% xlscell %}1{% endxlscell %}
                        {% xlscell %}{{ trx.paiementType }}{% endxlscell %}
                        {% xlscell %}B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}{% endxlscell %}
                        {% xlscell %}N{% endxlscell %}
                        {% xlscell %}N{% endxlscell %}
                        {% xlscell %}{% endxlscell %}
                        {% xlscell %}{{ trx.note | raw }}{% endxlscell %}
                        {% xlscell %}{{ trx.paiementRef | raw }}{% endxlscell %}
                    {% endxlsrow %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}