##Transfert
##Section	Dos
EUR
##Section	Mvt
{% for bordereau in bordereaux %}
{% set annee = bordereau.dateSaisie|date("Y") %}
{% if bordereau |partSiege > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	{{ bordereau.section.compteComptable }}	{{ bordereau.section.nom|truncate(37) }}	{{ bordereau |partSiege}}	D	B	COTIS PART SIEGE	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10
{% endif %}
{% if bordereau |totalCotisation > 0 %}
{% if bordereau.anneeCotis == annee - 1 %}
{% set compteCotis = '756000' %}
{% set n = 'N-1' %}
{% elseif bordereau.anneeCotis == annee + 1 %}
{% set compteCotis = '419100' %}
{% set n = 'N+1' %}
{% else %}
{% set compteCotis = '756100' %}
{% set n = 'N' %}
{% endif %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	{{ compteCotis }}	COTISATIONS {{ n }}	{{ bordereau |totalCotisation}}	C	B	{{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10			8000	COTISATIONS
{% endif %}
{% if bordereau |partSection > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	657200	RETRO. PART COTIS PRELEVEE PAR SECTIONS	{{ bordereau |partSection}}	D	B	{{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10			8000	COTISATIONS
{% endif %}
{% if bordereau |totalHlHT > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	701701	H & L  ABONNEMENTS MEMBRES	{{ bordereau |totalHlHT}}	C	B	{{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10			21100	HOMMES & LIBERTES
{% endif %}
{% if bordereau |totalHlTVA > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	445711	TVA COLLECTEE - H & L - 2.10 %	{{ bordereau |totalHlTVA}}	C	B	{{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10
{% endif %}
{% if bordereau |totalLdhInfo > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	701751	LDH INFO ABONNEMENTS MEMBRES	{{ bordereau |totalLdhInfo}}	C	B	{{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10			21200	LDH INFO
{% endif %}
{% if bordereau |totalDonSiege > 0 %}
1	VT	{{ bordereau.dateSaisie|date("d/m/Y") }}	754110	DONS PERCUS	{{ bordereau |totalDonSiege}}	C	B	via {{ bordereau.section.nom|truncate(37) }}	B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}	10			8100	SIEGE
{% endif %}
{% endfor %}
##Section	Jnl
VT	JOURNAL DES VENTES	T