{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mise à jour des trésoriers et sections{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mise à jour des trésoriers et sections</h4>
                    {{ data }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}