{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mettre à jour les professions{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mise à jour des professions</h4>
                    {{ form_start(form) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.fichier, "Fichier") }}
                        {{ form_widget(form.fichier) }}
                        <small class="form-text text-muted">Fichier des professions :</small>
                    </div>
                    <div class="form-row mt-4">
                        <div class="form-group col-md-6">
                            <input type="submit" value="Envoyer et mettre à jour"
                                   class="btn btn-danger"/>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}