<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png') }}" />
    <title>{% block title %}LDH - Bordereau de reversement en ligne{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
    <!-- This page CSS -->
    <!-- Vector CSS -->
    <link href="{{ asset('assets/plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
    <!-- chartist CSS -->
    <link href="{{ asset('assets/plugins/chartist-js/dist/chartist.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="{{ asset('css/pages/dashboard4.css') }}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{{ asset('css/colors/default.css') }}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
    <style type="text/css">
        .col-form-label.required:after, .form-group.required label:after, .form-control-label.required:after, .mandatory:before {
            content:"*";
            color:red;
        }
        .narrowHead {
            word-wrap: break-word;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Chargement...</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="{{ asset('assets/images/logo-ldh.png') }}" alt="homepage" class="dark-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                         LDH</span> </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Messages -->
                    <!-- ============================================================== -->
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">You have 4 new messages</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <a href="#">
                                            <div class="user-img"> <img src="{{ asset('assets/images/users/1.jpg') }}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img"> <img src="{{ asset('assets/images/users/2.jpg') }}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    -->
                    <!-- ============================================================== -->
                    <!-- End Messages -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        {% if app.user %}
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ app.user.email|gravatar }}" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="{{ app.user.email|gravatar }}" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{ app.user.nom }}</h4>
                                            <p class="text-muted">{{ app.user.email }}</p>
                                            <h5>{{ app.user.nom }}</h5>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_profile_show') }}"><i class="ti-user"></i> Mon profil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_change_password') }}"><i class="ti-settings"></i> Mot de passe</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            {% if app.user %}
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="user-profile">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="{{ app.user.email|gravatar }}" alt="user" /><span class="hide-menu">{{ app.user.nom }} </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="ti-user"></i> Mon profil</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="ti-settings"></i> Mot de passe</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                        </ul>
                    </li>
                    <li class="nav-devider"></li>
                    <li> <a class="waves-effect waves-dark" href="{{ path('homepage') }}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Accueil</span></a></li>
                    {% if not is_granted(['ROLE_ADMIN']) %}
                    <li class="nav-small-cap">BORDEREAUX</li>
                    <li> <a class="waves-effect waves-dark" href="{{ path('createBordereau') }}" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Ajouter un bordereau</span></a></li>
                    {% if app.session.get('bordereau') is not null %}
                        <li> <a class="waves-effect waves-dark" href="{{ path('addTransaction') }}" aria-expanded="false"><i class="mdi mdi-brush"></i><span class="hide-menu">Bordereau en cours</span></a></li>
                    {% endif %}
                    <li> <a class="waves-effect waves-dark" href="{{ path('listeBordereaux') }}" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Liste des bordereaux</span></a></li>
                    {% endif %}
                    {% if is_granted(['ROLE_ADMIN']) %}
                    <li class="nav-small-cap">ADMINISTRATION</li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Bordereaux</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('admin.bordereaux', {'type': 'tous'}) }}">Tous les bordereaux</a></li>
                            <li><a href="{{ path('admin.bordereaux', {'type': 'exportes'}) }}">Bordereaux déjà exportés</a></li>
                            <li><a href="#">___</a></li>
                            <!--<li><a href="{{ path('admin.bordereaux', {'type': 'nonexportes'}) }}">Bordereaux à exporter</a></li>-->
                            <li><a href="{{ path('admin.bordereaux', {'type': 'nonexportesprodon'}) }}">Bordereaux à exporter pour Prodon</a></li>
                            <li><a href="{{ path('admin.bordereaux', {'type': 'nonexportescompta'}) }}">Bordereaux à exporter pour Ciel</a></li>
                            <li><a href="{{ path('admin.bordereaux', {'type': 'nonexportesplvt'}) }}">Bordereaux à exporter pour Plvt</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Mettre à jour</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('admin.importer.fichier') }}">Importer sections et trésoriers</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted(['ROLE_SUPER_ADMIN']) %}
                        <li class="nav-small-cap">SUPER ADMIN</li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Utilisateurs</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path('sa.add.user') }}">Ajouter un admin</a></li>
                                <li><a href="{{ path('sa.user.list') }}">Lister les utilisateurs</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
            {% endif %}
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">{% block titrePage %}Bordereau de reversement en ligne{% endblock %}</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        {% block breadcrumbs %}
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        {% endblock %}
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
                {% for message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% block body %}{% endblock %}
            <!--
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- End Right panel -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2018-2021 JuJa - v1.7</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="{{ asset('assets/plugins/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('js/perfect-scrollbar.jquery.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('js/custom.min.js') }}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- Vector map JavaScript -->
<script src="{{ asset('assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
<script src="{{ asset('assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
<!--sparkline JavaScript -->
<script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<!-- Chart JS -->
<script src="{{ asset('js/bordereaux.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>

</html>