{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un utilisateur ADMIN{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ajouter un utilisateur ADMIN</h4>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" value="Créer">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/add_transaction.js') }}"></script>
{% endblock %}