{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un utilisateur ADMIN{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des utilisateurs</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>N° Adh</th>
                                <th>Courriel</th>
                                <th>Section</th>
                                <th>Rôle</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr{% if not user.enabled %} class="table-danger"{% endif %}>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.nom }}</td>
                                <td>
                                    {% if "ROLE_SUPER_ADMIN" in user.roles %}
                                        <span class="label label-danger">superadmin</span>
                                    {% endif %}
                                    {% if "ROLE_ADMIN" in user.roles %}
                                        <span class="label label-info">admin</span>
                                    {% endif %}
                                    {% if "ROLE_TRESORIER" in user.roles %}
                                        <span class="label label-success">trésorier</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.enabled %}
                                        <a href="{{ path('sa.user.enable', {'id':user.id, 'type':'off'} ) }}"><i class="mdi mdi-checkbox-blank-circle-outline" data-toggle="tooltip" title="Désactiver" data-placement="left"></i></a>
                                    {% else %}
                                        <a href="{{ path('sa.user.enable', {'id':user.id, 'type':'on'} ) }}"><i class="mdi mdi-checkbox-blank-circle" data-toggle="tooltip" title="Activer" data-placement="left"></i></a>
                                    {% endif %}
                                    &nbsp; <a href="{{ path('sa.edit.user', {'id':user.id} ) }}"><i class="mdi mdi-account-edit" data-toggle="tooltip" title="Modifier le compte" data-placement="right"></i></a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
