<h3>Bordereau en cours...</h3>
<div class="table-responsive">
    <table class="tablesaw table-striped table-bordered table-hover table tablesaw-swipe tablesaw-sortable">
        <thead>
        <tr>
            <th></th>
            <th>N° Adh.</th>
            <th>M./Mme</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Profession</th>
            <th>Dte naissance</th>
            <th>Adresse</th>
            <th>C.P.</th>
            <th>Ville</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Cotis.</th>
            <th>Don siège</th>
            <th>Don section</th>
            <th>H&L</th>
            <th>LDH Info</th>
            <th>Total payé</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for key, transaction in bordereau.transactions %}
            <tr>
                <td><a href="{{ path('transaction.edit', {'index':key}) }}" role="button"><i class="fa fa-pencil m-r-10"></i></a><br>
                    <a href="#" role="button" data-href="{{ path('transaction.remove', {'index':key}) }}" data-toggle="modal" data-target="#removeModal"><i class="fa fa-close text-danger"></i></a></td>
                <td>{{ transaction.adherent.noAdh }}</td>
                <td>{{ transaction.adherent.civilite }}</td>
                <td>{{ transaction.adherent.nom }}</td>
                <td>{{ transaction.adherent.prenom }}</td>
                <td>{{ transaction.adherent.profession }}</td>
                <td>{{ transaction.adherent.dateNaissance is empty ? "" : transaction.adherent.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ transaction.adherent.adresse | nl2br }}</td>
                <td>{{ transaction.adherent.codePostal }}</td>
                <td>{{ transaction.adherent.ville }}</td>
                <td>{{ transaction.adherent.telephone }}</td>
                <td>{{ transaction.adherent.email }}</td>
                <td>{{ transaction.cotisation }}</td>
                <td>{{ transaction.donSiege }}</td>
                <td>{{ transaction.donSection }}</td>
                <td>{{  transaction.hl }}</td>
                <td>{{ transaction.ldhInfo }}</td>
                <td>{{ transaction.total }}</td>
                <td>{{ transaction.note }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
    <small class="form-text text-muted">Utilisez l'ascenseur horizontal en allant vers la droite pour voir la totalité du tableau.</small>
</div>
<div class="alert alert-info" role="alert"><h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Information</h3> Le montant dû au siège, après envoi de votre bordereau, sera de <strong>{{ bordereau|partSiege|number_format(2, ',', ' ') }} €</strong>.<br>
Si vous avez choisi que la part siège soit prélevée, n'envoyez pas de chèque, le compte bancaire de la section sera prélevé dans quelques jours.</div>
<div class="alert alert-warning">
    <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> Attention</h3> Pour les couples, vérifiez que vous avez renseigné une ligne par personne (ne pas mettre 2 personnes sur une même ligne).
</div>
{% if (bordereau.transactions|length == 1) %}
    <div class="alert alert-danger">
        <h3 class="text-danger"><i class="fa fa-exclamation-triangle"></i> Attention</h3> Avant de valider l'envoi de votre bordereau, vérifiez que vous n'avez pas d'autres adhérents à saisir sur ce même bordereau.<br>
        Dans ce dernier cas, <strong>ajoutez une autre personne</strong> ci-dessous. Si vous n'avez pas d'autre adhérent à ajouter, vous pouvez valider votre bordereau.
    </div>
{% endif %}
{% if (bordereau.transactions|length > 0) %}
<p><a href="#" class="btn btn-primary btn-lg" role="button" data-href="{{ path('sendBordereau') }}" data-toggle="modal" data-target="#envoiModal">Mon bordereau est complet, je valide son envoi</a></p>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer cette ligne ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <a class="btn btn-danger btn-ok">Oui, supprimer</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="envoiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envoi du bordereau</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Une fois votre bordereau envoyé, il ne peut plus être modifié.</p>
                <p>Dans le cas des couples, avez-vous bien ajouté une ligne par individu ?</p>
                <p>Avez-vous bien ajouté toutes les personnes que vous souhaitiez ?</p>
                <p><strong>Etes-vous sûr de vouloir transmettre le bordereau ?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NON, vérifier ma saisie</button>
                <a class="btn btn-primary btn-ok">OUI, envoyer</a>
            </div>
        </div>
    </div>
</div>