<div class="mb-4 alert alert-warning mandatory">Champs obligatoires.</div>

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate':'', 'autocomplete':'off'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}
<div class="bg-light rounded p-3 mb-3">
    <h4>Identification</h4>
    <div class="form-row">
        <div class="form-group col-md-3">
            {# Génération du label. #}
            {{ form_label(form.adherent.noAdh, "N° d'adhérent") }}
            {# Génération de l'input. #}
            {{ form_widget(form.adherent.noAdh, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.adherent.noAdh) }}
            <div class="invalid-tooltip">Veuillez respecter le format</div>
            <small class="form-text text-muted">Ne saisir que des chiffres, sans espace, sans les éventuels 0 qui précèdent (005 834 devient
                5834).<br>
                <strong>En saisissant le n° d'adhérent (si c'est un renouvellement), cela limite le risque de création de doublon et
                    vous n'avez pas besoin de resaisir toutes les coordonnées de l'adhérent (sauf le sexe, nom et prénom -champs suivis de *-).</strong>
            </small>

        </div>
        <div class="form-group col-md-3">
            {{ form_label(form.adherent.dateNaissance, "Date de naissance") }}
            {{ form_widget(form.adherent.dateNaissance) }}
            {{ form_errors(form.adherent.dateNaissance) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.adherent.profession, "Profession ou ancienne profession") }}
            {{ form_widget(form.adherent.profession) }}
            {{ form_errors(form.adherent.profession) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group required col-md-3">
            {{ form_label(form.adherent.civilite, "Sexe") }}
            {{ form_widget(form.adherent.civilite) }}
            <div class="invalid-tooltip">Le sexe est obligatoire</div>
            {{ form_errors(form.adherent.civilite) }}

        </div>
        <div class="form-group required col-md-5">
            {{ form_label(form.adherent.nom, "Nom") }}
            {{ form_widget(form.adherent.nom) }}
            <div class="invalid-tooltip">Le nom est obligatoire</div>
            {{ form_errors(form.adherent.nom) }}
        </div>
        <div class="form-group required col-md-4">
            {{ form_label(form.adherent.prenom, "Prénom") }}
            {{ form_widget(form.adherent.prenom) }}
            <div class="invalid-tooltip">Le prénom est obligatoire</div>
            {{ form_errors(form.adherent.prenom) }}
        </div>
    </div>
</div>
<div class="bg-light rounded p-3 mb-3">
    <h4>Coordonnées</h4>
    <small class="form-text text-muted"><strong>Ne remplissez le cadre coordonnées que si :</strong>
        <ul>
            <li>Certaines informations ont changé (adresse postale ou téléphone ou adresse email). Remplissez alors uniquement ce qui a changé.</li>
            <li>Il s'agît d'un nouvel adhérent.</li>
            <li>Vous n'avez pas saisi le numéro d'adhérent plus haut.</li>
        </ul>
    </small>
    <div class="form-group">
        {{ form_label(form.adherent.adresse, "Adresse") }}
        {{ form_widget(form.adherent.adresse, {'attr': {'rows': '4', 'data-toggle': 'tooltip', 'data-placement': 'left', 'title': 'Ne saisissez l\'adresse, le code postal et la ville que ci ceux-ci ont changé ou si vous n\'avez pas indiqué de n° d\'adhérent plus haut.'}}) }}
        {{ form_errors(form.adherent.adresse) }}
        <small class="form-text text-muted">Si changement - sur 4 lignes maximum</small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form_label(form.adherent.codePostal, "Code Postal") }}
            {{ form_widget(form.adherent.codePostal) }}
            {{ form_errors(form.adherent.codePostal) }}
            <small class="form-text text-muted">Si changement</small>
        </div>
        <div class="form-group col-md-10">
            {{ form_label(form.adherent.ville, "Ville") }}
            {{ form_widget(form.adherent.ville) }}
            {{ form_errors(form.adherent.ville) }}
            <small class="form-text text-muted">Si changement</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.adherent.telephone, "Téléphone") }}
            {{ form_widget(form.adherent.telephone, {'attr': {'data-toggle': 'tooltip', 'data-placement': 'left', 'title': 'Ne saisir que si changement'}}) }}
            {{ form_errors(form.adherent.telephone) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.adherent.email, "Email") }}
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                {{ form_widget(form.adherent.email, {'attr': {'data-toggle': 'tooltip', 'data-placement': 'left', 'title': 'Ne saisir que si changement'}}) }}
                {{ form_errors(form.adherent.email) }}
            </div>
            <small class="form-text text-muted">Pour recevoir sa carte et son reçu fiscal par email, et s'inscrire aux
                listes de diffusion
            </small>
        </div>
    </div>
</div>
{# Partie transaction #}
<div class="bg-light rounded p-3 mb-3">
    <h4>Paiement</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_label(form.cotisation, "Cotisation") }}
            {{ form_widget(form.cotisation) }}
            <div class="invalid-tooltip">La cotisation minimum est de 10 €</div>
            {{ form_errors(form.cotisation) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_label(form.donSiege, "Don pour le siège") }}
            {{ form_widget(form.donSiege) }}
            {{ form_errors(form.donSiege) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_label(form.donSection, "Don pour la section") }}
            {{ form_widget(form.donSection) }}
            {{ form_errors(form.donSection) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_label(form.hlSubscription, "Abonnements") }}
            {{ form_widget(form.hlSubscription) }}
            {{ form_errors(form.hlSubscription) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_label(form.ldhInfoSubscription, "Abonnements") }}
            {{ form_widget(form.ldhInfoSubscription) }}
            {{ form_errors(form.ldhInfoSubscription) }}
            <small class="form-text text-muted">Version numérique gratuite par email (dans ce cas ne pas cocher, l'adhérent recevra sa carte de membre par email et un lien lui permettra de s'inscrire).</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group required col-md-3">
            {{ form_label(form.paiementDate, "Date du paiement (format JJ/MM/AAAA)") }}
            {{ form_widget(form.paiementDate) }}
            <div class="invalid-tooltip">La date du paiement est obligatoire</div>
            {{ form_errors(form.paiementDate) }}
            <small class="form-text text-muted">Doit correspondre à la date du paiement. Pour un chèque, c'est la date figurant sur le chèque.
                Cette date est prise en compte pour l'année du reçu fiscal.</small>
        </div>
        <div class="form-group col-md-2">
            {{ form_label(form.paiementType, "Moyen de paiement") }}
            {{ form_widget(form.paiementType) }}
            <div class="invalid-tooltip">Le moyen de paiement est obligatoire</div>
            {{ form_errors(form.paiementType) }}
        </div>
        <div class="form-group col-md-3">
            {{ form_label(form.paiementRef, "N° du chèque (si paiement en chèque)") }}
            {{ form_widget(form.paiementRef) }}
            {{ form_errors(form.paiementRef) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            {{ form_label(form.total, "Total payé par l'adhérent") }}
            {{ form_widget(form.total, {'attr': {'data-toggle': 'tooltip', 'data-placement': 'left', 'title': 'Champ calculé automatiquement'}}) }}
            {{ form_errors(form.total) }}
        </div>
    </div>
</div>
<div class="form-group mt-4">
    {{ form_label(form.note, "Notes ou remarques") }}
    {{ form_widget(form.note) }}
    {{ form_errors(form.note) }}
    <small class="form-text text-muted">Commentaires éventuels à remonter au siège sur cette adhésion (nouveau,
        changement d'adresse, de situation...)
    </small>
</div>
<div class="form-row mt-4">
    <div class="form-group col-md-6">
        <input type="submit" value="{{ bouton }}"
               class="btn btn-primary"/>
    </div>
</div>

{{ form_rest(form) }}
        {{ form_end(form) }}
