{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un bordereau - Etape 1{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Création d'un bordereau de reversement pour la section {{ app.user.nom }}</h4>
                    {% if form is defined %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        {% if not app.user.rum %}
                            <div class="alert alert-success">Si c'est la première fois que vous choisissez de payer la part siège par prélèvement bancaire, vous devez remplir un mandat de prélèvement
                                téléchargeable <a href="https://partage.ldh-france.org/s/gPtfJiAgo2PTkrA/download" target="_blank">au format PDF en cliquant ici</a> ou <a href="https://partage.ldh-france.org/s/E95nyz5oBBbLjwm/download" target="_blank">au format Word en cliquant là</a>.<br> Il vous faudra le remplir avec les informations bancaires (RIB) de la section soit :<br>
                            <ul>
                                <li>IBAN : {{ app.user.iban }}</li>
                                <li>BIC : {{ app.user.bic }}</li>
                            </ul>
                                Vous pouvez le retourner signé, par email à <a href="mailto:laboutique@ldh-france.org">laboutique@ldh-france.org</a> ou par courrier postal, il vous permettra également d'être prélevé pour vos factures de la boutique.<br>
                            Avec ce choix, vous n'avez plus besoin d'envoyer de chèque et vous économisez un timbre !</div>
                        {% endif %}

                        <input type="submit" value="Ajouter des personnes"
                               class="btn btn-primary mt-4" />
                        {{ form_end(form) }}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}