{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un bordereau - Etape 2{% endblock %}

{% block body %}
    {% if form is defined %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modifier une ligne (adhérent)</h4>
                        {% include 'bordereau/_formTransaction.html.twig' with {'bouton': 'Enregistrer la modification'} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/add_transaction.js') }}"></script>
{% endblock %}