{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des bordereaux{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Liste des bordereaux</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bordereaux de la section {{ app.user.nom }}</h4>
                    <table class="tablesaw table-striped table-bordered table-hover table tablesaw-swipe tablesaw-sortable">
                        <thead>
                        <tr>
                            <th>N° Bordereau</th>
                            <th>Date</th>
                            <th>Année de cotisation</th>
                            <th>Adhérents</th>
                            <th>Total part siège</th>
                            <th>Paiement de la part<br> siège par prélèvement</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bordereau in bordereaux %}
                            <tr>
                                <td>B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}</td>
                                <td>{{ bordereau.dateSaisie|date("d/m/Y") }}</td>
                                <td>{{ bordereau.anneeCotis }}</td>
                                <td>{{ bordereau.transactions|length }}</td>
                                <td class="text-right">{{ bordereau|partSiege|number_format(2, ',', ' ') }} €</td>
                                <td>{{ bordereau.paiementPlvt ? 'Oui':'Non' }}</td>
                                <td><a href="{{ path('voirBordereau', {'index': bordereau.id}) }}" role="button"><i class="fa fa-eye fa-lg m-r-10"></i></a></td>
                            </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}