{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Bordereau transmis{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bordereau transmis au siège</h4>
                    {% if bordereau is defined %}
                        <div><p>Le bordereau a bien été envoyé !</p>
                            {% if not bordereau.paiementPlvt %}
                                <p>Vous pouvez régler la part du siège avec un chèque de <strong>{{ bordereau|partSiege }} €</strong> en portant au dos la référence du bordereau : <strong>B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}</strong></p>
                            {% else %}
                                <p>Votre bordereau porte la référence <strong>B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }}</strong>.<br>
                                N'envoyez pas de chèque, le compte bancaire de la section sera prélevé de <strong>{{ bordereau|partSiege }} €</strong> dans quelques jours.</p>
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}