{% xlsdocument {
    created: '{{ bordereau.dateSaisie|date("Y-m-d") }}',
    title: 'Bordereau',
    description: 'Bordereau',
    defaultStyle: {
        font: {
            name: 'Arial',
            size: 14.0
        }
    }
} %}
    {% xlssheet 'Worksheet' {
        columnDimension: {
            'default': {
                autoSize: true,
            },
        },
        pageMargins: {
            top: 0.4,
            bottom: 0.4,
            left: 0.31,
            right: 0.31,
            header: 0.31,
            footer: 0.31
        },
        pageSetup: {
            fitToPage: false,
            fitToWidth: 1,
            orientation: 'landscape',
            paperSize: 9,
        },
        printGridlines: true,
    } %}
        {% xlsrow %}
            {% xlscell { merge: 16, style: { font: { bold: true } } } %}Bordereau n° B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }} du {{ bordereau.dateSaisie|date("d/m/Y") }} de la section {{ bordereau.section.nom }} pour l'année de cotisation {{ bordereau.anneeCotis }}{% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}{% endxlsrow %}
        {% xlsrow %}
            {% xlscell { style: { font: { bold: true } } } %}N° Adh.{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}M./Mme{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Nom{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Prénom{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Profession{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Dte naissance{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Adresse{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}C.P.{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Ville{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Téléphone{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Email{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Cotisation{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Don siège{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Don section{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}H et L{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}LDH Info{% endxlscell %}
            {% xlscell { style: { font: { bold: true } } } %}Total payé{% endxlscell %}
        {% endxlsrow %}
        {% for trx in bordereau.transactions %}
            {% xlsrow %}
                {% xlscell %}{{ trx.adherent.noAdh }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.civilite }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.nom }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.prenom }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.profession | raw }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.dateNaissance is empty ? "" : trx.adherent.dateNaissance|date("d/m/Y") }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.adresse | nl2br }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.codePostal }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.ville }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.telephone }}{% endxlscell %}
                {% xlscell %}{{ trx.adherent.email }}{% endxlscell %}
                {% xlscell %}{{ trx.cotisation }}{% endxlscell %}
                {% xlscell %}{{ trx.donSiege }}{% endxlscell %}
                {% xlscell %}{{ trx.donSection }}{% endxlscell %}
                {% xlscell %}{{ trx.hl ? constant('App\\Entity\\Transaction::TARIF_HL') }}{% endxlscell %}
                {% xlscell %}{{ trx.ldhInfo ? constant('App\\Entity\\Transaction::TARIF_LDHINFO') }}{% endxlscell %}
                {% xlscell %}{{ trx.total }}{% endxlscell %}
            {% endxlsrow %}
        {% endfor %}

        {% xlsrow %}{% endxlsrow %}
        {% xlsrow %}
            {% xlscell { merge: 16, style: { font: { bold: true } } } %}Part siège : {{ bordereau|partSiege|number_format(2, ',', ' ') }} €{% endxlscell %}
        {% endxlsrow %}
    {% endxlssheet %}
{% endxlsdocument %}