{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Voir le bordereau{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bordereau n° B-{{ bordereau.section.compteComptable }}-{{ bordereau.id }} du {{ bordereau.dateSaisie|date("d/m/Y") }} de la section {{ bordereau.section.nom }} pour l'année de cotisation {{ bordereau.anneeCotis }}</h4>
                <div class="table-responsive">
                <table class="tablesaw table-striped table-bordered table-hover table tablesaw-swipe tablesaw-sortable">
            <thead>
            <tr>
                {% if is_granted(['ROLE_SUPER_ADMIN']) %}
                    <th>&nbsp;</th>
                {% endif %}
                <th>N° Adh.</th>
                <th>M./Mme</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Profession</th>
                <th>Dte naissance</th>
                <th>Adresse</th>
                <th>C.P.</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Cotis.</th>
                <th>Don siège</th>
                <th>Don section</th>
                <th>H&L</th>
                <th>LDH Info</th>
                <th>Total payé</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in bordereau.transactions %}
                <tr>
                    {% if is_granted(['ROLE_SUPER_ADMIN']) %}
                        <td><a href="{{ path('sa.transaction.edit', {'index':transaction.id}) }}" role="button" class="btn btn-primary"><i class="fa fa-pencil"></i></a> <form method="post" action="{{ path('sa.transaction.delete', {id: transaction.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de supprimer cette transaction ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
                                <button class="btn btn-danger"><i class="mdi mdi-delete-forever"></i></button>
                            </form></td>
                    {% endif %}
                    <td>{{ transaction.adherent.noAdh }}</td>
                    <td>{{ transaction.adherent.civilite }}</td>
                    <td>{{ transaction.adherent.nom }}</td>
                    <td>{{ transaction.adherent.prenom }}</td>
                    <td>{{ transaction.adherent.profession }}</td>
                    <td>{{ transaction.adherent.dateNaissance is empty ? "" : transaction.adherent.dateNaissance|date("d/m/Y") }}</td>
                    <td>{{ transaction.adherent.adresse | nl2br }}</td>
                    <td>{{ transaction.adherent.codePostal }}</td>
                    <td>{{ transaction.adherent.ville }}</td>
                    <td>{{ transaction.adherent.telephone }}</td>
                    <td>{{ transaction.adherent.email }}</td>
                    <td>{{ transaction.cotisation }}</td>
                    <td>{{ transaction.donSiege }}</td>
                    <td>{{ transaction.donSection }}</td>
                    <td>{{ transaction.hl ? constant('App\\Entity\\Transaction::TARIF_HL') }}</td>
                    <td>{{ transaction.ldhInfo ? constant('App\\Entity\\Transaction::TARIF_LDHINFO') }}</td>
                    <td>{{ transaction.total }}</td>
                    <td>{{ transaction.note }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
                    <small class="form-text text-muted">Utilisez l'ascenseur horizontal en allant vers la droite pour voir la totalité du tableau.</small>
                </div>
    <div class="alert alert-info" role="alert">Le montant dû au siège est de <strong>{{ bordereau|partSiege|number_format(2, ',', ' ') }} €</strong></div>
    <div><a href="{{ path('exporterBordereau', {'index': bordereau.id}) }}.xls" class="btn btn-primary">Télécharger au format Excel</a></div>

                {% if is_granted(['ROLE_SUPER_ADMIN']) %}
                <div class="mt-2">
                    <form method="post" action="{{ path('sa.bordereau.delete', {id: bordereau.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de supprimer ce bordereau ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bordereau.id) }}">
                        <button class="btn btn-danger">Supprimer le bordereau</button>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
